{% extends 'core/base.html' %}
{% load datetime_extras %}

{% block title %}О компании{% endblock %}
{% block heading %}О компании{% endblock %}

{% block content %}
    {% if company_info %}
        <h2>{{ company_info.title }}</h2>
        <p>{{ company_info.text }}</p>
        <p>Добавлено: {{ company_info.created_at|local_and_utc:user_timezone }}</p>
        <p>Изменено: {{ company_info.updated_at|local_and_utc:user_timezone }}</p>
    {% else %}
        <p>Информация о компании пока не добавлена.</p>
    {% endif %}
{% endblock %}
