{% extends 'core/base.html' %}
{% load datetime_extras %}

{% block title %}Политика конфиденциальности{% endblock %}
{% block heading %}Политика конфиденциальности{% endblock %}

{% block content %}
    {% if policy %}
        <h2>{{ policy.title }}</h2>
        <p>{{ policy.text|default:"Текст политики пока не заполнен." }}</p>
        <p>Добавлено: {{ policy.created_at|local_and_utc:user_timezone }}</p>
        <p>Изменено: {{ policy.updated_at|local_and_utc:user_timezone }}</p>
    {% else %}
        <p>Страница политики конфиденциальности пока пустая.</p>
    {% endif %}
{% endblock %}
