{% extends 'core/base.html' %}
{% load datetime_extras %}

{% block title %}Вакансии{% endblock %}
{% block heading %}Вакансии{% endblock %}

{% block content %}
    {% if vacancies %}
        <ul>
            {% for vacancy in vacancies %}
                <li>
                    <h2>{{ vacancy.title }}</h2>
                    <p>{{ vacancy.description }}</p>
                    <p>Добавлено: {{ vacancy.created_at|local_and_utc:user_timezone }}</p>
                    <p>Изменено: {{ vacancy.updated_at|local_and_utc:user_timezone }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Активные вакансии пока не добавлены.</p>
    {% endif %}
{% endblock %}
